<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SysPAEFI - Sistema de gerenciamento de usuários.">
    <meta name="author" content="Uesli Almeida">
    <link rel="icon" href="">

    <title>SysPAEFI</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>SysPAEFI</h2>
        <p class="lead">Sistema para gerenciamento de usuários do serviço Proteção e Atendimento Especializado a Famílias e Indivíduos.</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Painel de Ações</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item justify-content-between lh-condensed">
              <div>
                <a class="btn btn-primary btn-lg btn-block" href="/">Adicionar Caso</a>
              </div>
            </li>
            <li class="list-group-item justify-content-between lh-condensed">
              <div>
                <a class="btn btn-primary btn-lg btn-block" href="/">Adicionar Atendimento</a>
              </div>
            </li>
            <li class="list-group-item justify-content-between lh-condensed">
              <div>
                <a class="btn btn-secondary btn-lg btn-block" href="/">Voltar</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Detalhes do Usuário</h4>
          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="firstName">Nome Completo</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            </div>


            <div class="mb-3">
              <label for="username">Nome do Responsável</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="" required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-7 mb-3">
                <label for="firstName">Endereço</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              </div>
              <div class="col-md-5 mb-3">
                <label for="lastName">Bairro</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="address2">Telefone <span class="text-muted">(Somente números)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="">
              </div>

              <div class="col-md-6 mb-3">
                <label for="country">Sexo</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Selecione...</option>
                  <option>Masculino</option>
                  <option>Feminino</option>
                </select>
              </div>
          </div>

          <div class="mb-3">
            <label for="country">Identificação</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Selecione...</option>
              <option>Criança</option>
              <option>Deficiente</option>
              <option>Idoso</option>
              <option>Morador de Rua</option>
              <option>Mulher</option>
            </select>
          </div>

            <h4 class="mb-3">Casos Atrelados ao Usuário</h4>

            <p>SEÇÃO COM OS CASOS</p>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">SysPAEFI | Desenvolvido por Uesli Almeida e Thifani Vargas</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Sobre</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
